.about-page {
  padding-top: 15rem;

  background: linear-gradient(
      rgba(39, 65, 118, 0.5),
      /* rgba(0, 73, 190, 1) with 70% opacity */ rgba(39, 65, 118, 0.5)
    ),
    url("../../assets/about/about-bg.jpg") center/cover no-repeat;

  h1 {
    // margin-top: 5rem;
    text-transform: uppercase;
    color: #fec802;
  }

  p {
    margin-top: 3rem;
    color: #fff;
    margin-bottom: 5rem;
    font-size: 18px;
    // font-weight: bold;
  }
}
