.indi-pro {

  .cards-row {
    margin-top: 5rem;
  }
  .indi-card {
    border-radius: 0;
    background: #0049be !important ;
    .image-stu {
      height: 25em;
      max-width: 100%; // Ensures responsiveness
      overflow: hidden; 
      display: flex;
      align-items: center;
      justify-content: center;
     
     
      img {
        border: none;
        border-radius: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .card-body {
      border-radius: 0;
    

      p {
        color: #fff;
      }
      h2 {
        color: #fff;
      }
      h4 {
        margin-bottom: 2rem;
        color: #fff;
      }
      button {
        background: #fec802;
        border: #fec802;
      }
    }
  }
}
.academtennis{
    background: #0049be !important;

}
