.gallry-rea {
  background: #000;
  padding-top: 15rem;
  padding-bottom: 5rem;
  h1 {
    text-align: center;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: #fec802;
  }
  p {
    text-align: center;
    color: #fff;
  }
  .gallery-App {
    margin-top: 5rem;
  }
}
