.hero-sec {
  padding-top: 4rem;
  background-image: url("../../assets/hero/HBBC5056-min.jpg"),
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      /* rgba(0, 73, 190, 1) with 70% opacity */ rgba(0, 0, 0, 0.5)
    );
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;

  .heading-texts-header {
    // position: absolute;
    // top: 30%;
    // left: 30%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    text-align: center;
    h1 {
      font-weight: 500;
      color: #fff;
      font-size: 84px;
      line-height: 8rem;
      font-family: "Antonio";
      margin-bottom: 0;
      text-align: center;
      span {
        letter-spacing: 0.2rem;
        font-weight: 680;
        font-size: 168px;
        font-style: italic;
        margin-left: -25px;
      }
      @media (max-width: 1000px) {
        font-size: 68px;
        line-height: normal;
        span {
          font-size: 100px;
        }
      }
      @media (max-width: 768px) {
        font-size: 40px;
        line-height: normal;
        span {
          letter-spacing: normal;
          font-size: 50px;
          margin-left: auto;
        }
      }
      @media (max-width: 375px) {
        font-size: 25px;
        span {
          letter-spacing: normal;
          font-size: 30px;
        }
      }
    }
    p {
      //   font-size: large;
      //   margin-top: -1rem;
      color: #fec802;
      font-size: 42px;
      font-style: italic;
      font: "inter";
      text-align: center;
      span {
        // font-weight: bold;
        // text-decoration: underline;
      }

      @media (max-width: 768px) {
        font-size: 24px;
      }
      @media (max-width: 375px) {
        font-size: 20px;
      }
    }
    .-btn-her {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px !important;
    }
    .-btn-her p {
      font-size: 16px;
    }
    button {
      display: flex;
      gap: 0.7rem;
      padding: 0;
      align-items: center;
      border: none;
      background: #fff;
      border-radius: 8px !important;
      padding: 0.4rem 0.7rem;
      text-transform: uppercase;
      background: linear-gradient(45deg, #fec802, #0049be);
      background-size: 200% 200%;
      animation: gradient-rotate 4s ease infinite; /* Animation for the gradient */

      &:hover {
        background: linear-gradient(45deg, #0049be, #fec802) !important;
      }

      p {
        font-style: normal !important;
        margin-bottom: 0;
        color: #000;
        font-size: 22px;
        @media (max-width: 768px) {
          font-size: 16px;
        }
      }

      img {
        width: 10px;
      }
    }

    @keyframes gradient-rotate {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    .not-show-in-big {
      display: block;

      @media (max-width: 1000px) {
        display: flex;
        align-items: center;
      }
    }
    .show-in-big {
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 1000px) {
        display: flex;
      }
    }
  }
}
