.ehy-tdc {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #0049be;

  .why-conai-t {
    h1 {
      text-align: center;
      color: #fec802;
      font-size: 56px;
      // letter-spacing: 1rem;
      font-weight: 700;
      margin-bottom: 0rem;
      @media (max-width: 768px) {
        //   letter-spacing: 0.5;
        font-size: 48px;
      }
      @media (max-width: 375px) {
        font-size: 45px;
        letter-spacing: normal;
      }
    }
    .carousel {
      .carousel-inner {
        .carousel-item {
          height: 20rem;
          .carousel-caption {
            bottom: 25%;
          }
        }
      }
      @media (max-width: 768px) {
        margin-top: 3rem;
      }
    }
  }
}
